* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

/*HEADING*/

.parent {
    background-color: rgb(0, 0, 0);
    color:white;
    height: 100px;
    position: relative;
    position: sticky;
    top: 0;
    z-index: 100;
}

.Heading {
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    position: absolute;
    left: 45px;
    top: 20px;
    border-radius: 2%
}

/*NAV BAR*/
.skill {
    cursor: pointer;
    list-style-type: none;
    display: flex;
    gap: 60px;
    position: absolute;
    left: 62%;
    top: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
}

li,
a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

li,
a:hover {
    color: rgb(6, 255, 6)
}

/*HERO SECTION*/
.image {
    background-color:white;
    height: 650px;
}

.myimage {
    border-radius: 50%;
    margin-left: 42%;
    margin-top: 10%;
    height: 250px;
    width:230px;
}

.title {
    font-family: sans-serif;
    margin-left: 460px;
    margin-top: 50px;
    padding: 50px;
    word-spacing: 2px;
}

/* ABOUT */
.about {
    position: relative;
    height: 400px;
    background-color: white;
}

.aboutme {
    text-align: center;
    font-family: sans-serif;
    margin-top:0px;
}

.aboutimg {
    height: 250px;
    width: 200px;
    position: absolute;
    top: 150px;
    left: 20%;
    bottom: 300px;
    border-radius: 5%;
}

.self {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 40%;
    position: absolute;
    top: 220px;
    left: 50px;
}


/* SKILL */

.section1 {
    /* padding: 50px; */
    height: 800px;
    background-color: rgb(255, 255, 255);
}

.frontend {
    text-align: center;
    font-family: sans-serif;
    margin-top: 100px;
}

.backend {
    text-align: center;
    margin-top: 50px;
    font-family: sans-serif;
    padding:75px;
}

.space {
    margin-top: 100px;
}

.html {
    height: 50px;
    width: 200px;
    position: relative;
    margin-left: 20%;
    border-radius: 5px;
    box-shadow: 2PX 5px 7PX rgba(0, 0, 0, 0.2);
    box-shadow: inset;
}

.css {
    height: 50px;
    width: 200px;
    position: relative;
    margin-left: 41%;
    border-radius: 5px;
    top: 25px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.2);
    box-shadow: inset;
}

.javascript {
    height: 50px;
    width: 200px;
    position: relative;
    margin-left: 57%;
    border-radius: 5px;
    right: 570px;
    box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.2);
    box-shadow: inset;
}

.bootstrap {
    height: 50px;
    width: 200px;
    position: relative;
    margin-left: 20%;
    border-radius: 5px;
    left: 600px;
    bottom: 100px;
    box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.2);
    box-shadow: inset;
}

.reactjs {
    height: 50px;
    width: 200px;
    position: relative;
    margin-left: 20%;
    border-radius: 5px;
    bottom: 50px;
    left: 600px;
    box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.2);
    box-shadow: inset;
}

.html1 {
    position: absolute;
    left: 90px;
    top: 15px;
}

.css1 {
    position: absolute;
    left: 90px;
    top: 15px;
}

.javascript1 {
    position: absolute;
    left: 50px;
    top: 15px;
}

.bootstrap1 {
    position: absolute;
    left: 60px;
    top: 15px;
}

.reactjs1 {
    position: absolute;
    left: 55px;
    top: 15px;
}

.java {
    height: 50px;
    width: 200px;
    position: relative;
    margin-left: 10%;
    border-radius: 5px;
    margin-top: 50px;
    box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.2);
    box-shadow: inset;
}

.springboot {
    height: 50px;
    width: 200px;
    position: relative;
    margin-left: 42%;
    border-radius: 5px;
    bottom: 53px;
    box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.2);
    box-shadow: inset;
}

.mysql {
    height: 50px;
    width: 200px;
    position: relative;
    margin-left: 75%;
    border-radius: 5px;
    margin-bottom: 50px;
    bottom: 107px;
    box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.2);
    box-shadow: inset;
}

.mysql1 {
    position: absolute;
    left: 35%;
    top: 30%;
}

.java1 {
    position: absolute;
    left: 75px;
    top: 15px;
}

.springboot1 {
    position: absolute;
    left: 55px;
    top: 15px;
}

.html:hover {
    transform: scale(1.10);
    transition: .5s;
    background-color: greenyellow;
    cursor: pointer;
}

.css:hover {
    transform: scale(1.10);
    transition: .5s;
    background-color: greenyellow;
    cursor: pointer;
}

.javascript:hover {
    transform: scale(1.10);
    transition: .5s;
    background-color: greenyellow;
    cursor: pointer;
}

.bootstrap:hover {
    transform: scale(1.10);
    transition: .5s;
    background-color: greenyellow;
    cursor: pointer;
}

.reactjs:hover {
    transform: scale(1.10);
    transition: .5s;
    background-color: greenyellow;
    cursor: pointer;
}

.java:hover {
    transform: scale(1.10);
    transition: .5s;
    background-color: greenyellow;
    cursor: pointer;
}

.springboot:hover {
    transform: scale(1.10);
    transition: .5s;
    background-color: greenyellow;
    cursor: pointer;
}

.mysql:hover {
    transform: scale(1.10);
    transition: .5s;
    background-color: greenyellow;
    cursor: pointer;
}

.fa-html5 {
    margin-left: 30px;
    margin-top: 14px;
    font-size: 25px;
}

.fa-css3-alt {
    margin-left: 30px;
    margin-top: 14px;
    font-size: 25px;
}

.fa-bootstrap {
    margin-left: 20px;
    margin-top: 14px;
    font-size: 20px;
}

.fa-java {
    margin-left: 20px;
    margin-top: 14px;
    font-size: 20px;
}

.fa-js {
    margin-left: 14px;
    margin-top: 15px;
    font-size: 20px;
}

.fa-react {
    margin-left: 14px;
    margin-top: 15px;
    font-size: 20px;
}

.spring {
    margin-top:12px;
    font-size: 2em;
    margin-left:10px;
}

.mysql2 {
     margin-top:15px;
     margin-left:20px;
}
footer {
    background-color: black;
    color: rgb(252, 252, 252);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding: 25px;

}
/* ================= MOBILE RESPONSIVE ================= */
@media (max-width: 768px) {

    /* NAVBAR */
    .parent {
        height: auto;
        padding: 15px 0;
        text-align: center;
    }

    .Heading {
        position: static;
        left: 0;
        top: 0;
        text-align: center;
        font-size: 22px;
    }

    .skill {
        position: static;
        flex-direction: column;
        gap: 15px;
        align-items: center;
        margin-top: 10px;
        left: 0;
        top: 0;
    }

    /* HERO SECTION */
    .image {
        height: auto;
        padding: 40px 10px;
        text-align: center;
    }

    .myimage {
        margin-left: 0;
        margin-top: 30px;
        height: 180px;
        width: 180px;
    }

    .title {
        margin-left: 0;
        margin-top: 20px;
        padding: 10px;
        font-size: 20px;
        text-align: center;
    }

    /* ABOUT SECTION */
    .about {
        height: auto;
        padding: 40px 15px;
        text-align: center;
    }

    .aboutimg {
        position: static;
        left: 0;
        top: 0;
        margin: 20px auto;
        display: block;
        height: 200px;
        width: 160px;
    }

    .self {
        position: static;
        margin-left: 0;
        left: 0;
        top: 0;
        padding: 10px;
        text-align: center;
    }

    .para {
        white-space: normal;
        font-size: 14px;
    }

    /* SKILLS SECTION */
    .section1 {
        height: auto;
        padding: 30px 10px;
    }

    .space {
        margin-top: 40px;
    }

    /* Frontend skill boxes */
    .html,
    .css,
    .javascript,
    .bootstrap,
    .reactjs {
        position: static;
        margin: 15px auto;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        display: block;
    }

    /* Backend skill boxes */
    .java,
    .springboot,
    .mysql {
        position: static;
        margin: 15px auto;
        left: 0;
        bottom: 0;
        display: block;
    }

    .backend {
        padding: 20px;
        margin-top: 20px;
    }

    /* FOOTER */
    footer h1 {
        font-size: 16px;
        word-break: break-word;
    }

    footer p {
        font-size: 14px;
    }
}
